body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#imageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#imageSrc {
    min-width: 33vw;
    max-width: 33vw;
    margin: 10px;
}

#imageOutput {
    min-width: 33vw;
    max-width: 33vw;
    margin: 10px;
}

.progress-bar {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    margin: auto;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

@media screen and (max-width: 1000px) {

    #imageContainer {
        flex-direction: column;
        height: auto;
    }
    
    #imageSrc {
        min-width: 95vw;
        max-width: 95vw;
        margin: 10px 0;
    }

    #imageOutput {
        min-width: 95vw;
        max-width: 95vw;
        margin: 10px 0;
    }
}